# 1. Read and pre-process the data

## 1.1 Read data

This is the first part of the code and is designed for checking and cleaning the data. The data used is taken from Alberta Water Quality Data Portal with focus on water matrix (0) and long-term and tributary monitoring stations:
Source for getting data: https://environment.extranet.gov.ab.ca/apps/WaterQuality/dataportal/DataDownload/Index/

In [1]:
import numpy as np
import pandas as pd
import os
import sys
# add src folder to path
sys.path.append(os.path.abspath('../src'))

# import funcs from src folder in higher directory
from funcs import unit_harm

In [2]:
# Specify parse date:
parse_dates = ['SampleDateTime']

# Now read the data
data = pd.read_csv('../data/Water Quality-2025-03-08 172848.csv', dtype=
{
 'ProjectNumber': 'category',
 'SampleNumber': 'category',
 'ContinentalRiverBasinCode': 'category',
 'RiverBasinCode': 'category',
 'RiverSubBasinCode': 'category',
 'StationTypeCode': 'category',
 'StationNumber': 'category',
 'Station': 'category',
 'LatitudeDecimalDegrees': 'float64',
 'LongitudeDecimalDegrees': 'float64',
 'SampleMatrixCode': 'category',
 'SampleTypeCode': 'category',
 'CollectionCode': 'category',
 'QCSampleFlag': 'category',
 'SampleComment': 'string',
 'SampleDateTime': 'string',
 'VmvCode': 'category',
 'VariableCode': 'category',
 'VariableName': 'category',
 'MeasurementFlag': 'category',
 'MeasurementValue': 'float64',
 'UnitCode': 'category',
 'SampleDetectLimit': 'string',
 'MeasurementComment': 'string',
 'MeasurementQualifier': 'category',
 'MeasurementQualifierDescription': 'string',
 'MeasurementQualifierComment': 'string',
 'MethodCode': 'category',
 'MethodDetectionLimit': 'float64',
 'LabCode': 'category'
 }
 , na_values=['', 'NaN', 'NULL', 'N/A', 'NA', 'null', '******', 'NaT', 'nan'])

In [3]:
# convert the SampleDateTime column to datetime
data['SampleDateTime'] = pd.to_datetime(data['SampleDateTime'], format='%m/%d/%Y %H:%M:%S', errors='coerce')

# Convert SampleDetectLimit to numeric
data['SampleDetectLimit'] = pd.to_numeric(data['SampleDetectLimit'], errors='coerce')

# convert VariableName and Station to title case
data[['VariableName', 'Station']] = data[['VariableName', 'Station']].apply(lambda x: x.str.title())

# get rid of whitespace
data['VariableName'] = data['VariableName'].str.strip()

# make units lowercase
data['UnitCode'] = data['UnitCode'].str.lower()

# 1.2 Filter the data

In [4]:
# Check missingness for each column and arrange in descending order
data.isnull().sum().sort_values()

ProjectNumber                            0
VmvCode                                  0
SampleDateTime                           0
MeasurementValue                         0
QCSampleFlag                             0
MethodCode                               0
SampleTypeCode                           0
SampleMatrixCode                         0
VariableCode                             0
LongitudeDecimalDegrees                  0
Station                                  0
StationNumber                            0
StationTypeCode                          0
RiverSubBasinCode                        0
RiverBasinCode                           0
ContinentalRiverBasinCode                0
SampleNumber                             0
LatitudeDecimalDegrees                   0
VariableName                             0
LabCode                                288
UnitCode                             73616
CollectionCode                      200683
MethodDetectionLimit                386180
SampleComment                       462007
SampleDetectLimit                   607335
MeasurementFlag                    1441044
MeasurementQualifier               2199559
MeasurementQualifierDescription    2199559
MeasurementQualifierComment        2246559
MeasurementComment                 2281966
dtype: int64

**Note:** it is the user's choice to not include the data without unit codes. I chose to eliminate them as they really create ambiguity in how usable the data will be. Just as a more general rule, we apply SampleDateTime, MeasurementValue, StationNumber, and VariableName.

In [5]:
data = data.dropna(subset = ['UnitCode', 'MeasurementValue', 'SampleDateTime', 'StationNumber', 'VariableName'])
data = data.dropna(how = 'all') # drop rows where all elements are NaN

In [6]:
duplicates = data.duplicated(subset=['SampleDateTime', 'StationNumber', 'VariableName', 'MeasurementValue', 
                                     'UnitCode', 'VmvCode', 'SampleNumber', 'LabCode'], 
                             keep=False)
                             
# write duplicate rows to csv   
# data[duplicates].to_csv('../output/duplicate_rows.csv', index=False)

Basically there is no duplicate row based on the analysis of duplicates.

# 1.3 Harmonize the units
Harmonize the units so that each parameter has only one unit. This is helpful for creating plots and comparing data against other stations or time-windows.

In [7]:
data = unit_harm(data)

1,1,1,2-Tetrachloroethane
1,1,1-Trichloroethane
1,1,2,2-Tetrachloroethane
1,1,2-Trichloroethane
1,1-Dichloroethane
1,1-Dichloroethylene
1,1-Dichloropropylene
1,2,3-Trichlorobenzene
1,2,3-Trichloropropane
1,2,4-Trichlorobenzene
1,2,4-Trimethylbenzene
1,2,6-Trimethylphenanthrene
1,2-Dibromo-3-Chloropropane
1,2-Dibromoethane
1,2-Dichlorobenzene
1,2-Dichloroethane
1,2-Dichloroethene-Cis
1,2-Dichloroethene-Trans
1,2-Dichloropropane
1,2-Dimethylnaphthalene
1,2-Diphenylhydrazine
1,2-Xylene
1,3,5-Trichlorobenzene
1,3,5-Trimethylbenzene
1,3-Dichlorobenzene
1,3-Dichloropropane
1,3-Dichloropropene-Cis
1,3-Dichloropropene-Trans
1,4,6,7-Tetramethylnaphthalene
1,4-Dichloro-2-Butene-Cis
1,4-Dichloro-2-Butene-Trans
1,4-Dichlorobenzene
1,4-Dioxane
1,7-Alpha-Ethynylestradiol
1,7-Dimethylfluorene
1,7-Dimethylphenanthrene
1,8-Dimethylphenanthrene
1-Methylchrysene
1-Methylnaphthalene
1-Methylphenanthrene
12,14-Dichlorodehydroabietic Acid
12-Chlorodehydroabietic Acid
14-Chlorodehydroabietic Acid
2,2-Dichloropropane
2,3,4,6-Tetrachlorophenol
2,3,4-Trichlorophenol
2,3,5,6-Tetrachlorophenol
2,3,5-Trichlorophenol
2,3,5-Trimethylnaphthalene
2,3,6-Trichlorophenol (Surrogate)
Warning: There are still multiple units: ug/l, %
2,3,6-Trimethylnaphthalene
2,4,5-Trichlorophenol
2,4,5-Trichlorophenoxyacitic Acid (2,4,5-T)
2,4,6-Tribromophenol (Surrogate)
2,4,6-Trichlorophenol
2,4-Dichlorophenol (2,4-Dcp)
2,4-Dichlorophenoxyacetic Acid (2,4-D)
2,4-Dichlorophenoxybutyric Acid (2,4-Db)
2,4-Dichlorprop (2,4-Dp)
2,4-Dimethyldibenzothiophene
2,4-Dimethylphenol
2,4-Dinitrophenol
2,4-Dinitrotoluene
2,6-Dibromophenol (Surrogate)
2,6-Dichlorophenol
2,6-Dimethylnaphthalene
2,6-Dimethylnaphthalene-D12 (Surrogate)
2,6-Dimethylphenanthrene
2,6-Dinitrotoluene
2-Chloroethylvinylether (2-Chloroethoxyethylene)
2-Chloronaphthalene
2-Chlorophenol
2-Chlorotoluene
2-Hexanone
2-Methyl-4,6-Dinitrophenol
2-Methylanthracene
2-Methylfluorene
2-Methylnaphthalene
2-Methylnaphthalene-D10 (Surrogate)
2-Methylphenanthrene
2-Nitrophenol
2/3-Methyldibenzothiophenes
3,3'-Dichlorobenzidine
3,4,5-Trichlorocatecol
3,4,5-Trichloroguaiacol
3,4,5-Trichloroveratrol
3,4,6-Trichlorocatechol
3,4,6-Trichloroguaiacol
3,4-Dichlorocatechol
3,5-Dichlorocatechol
3,6-Dimethylphenanthrene
3- And 4-Chlorophenol
3-Methylcholanthrene
3-Methylfluoranthene/Benzo(A)Fluorene
3-Methylphenanthrene
4,5,6-Trichloroguaiacol
4,5,6-Trichlorosyringol
4,5-Dichlorocatechol
4,5-Dichloroguaiacol
4,5-Dichloroveratrole
4,6-Dichloroguaiacol
4,6-Dimethyldibenzothiophene
4,6-Dinitro-O-Cresol
4,8-Dioxa-3H-Perfluorononanoate (Adona)
4-Bromophenyl Phenyl Ether
4-Chloro-2-Methylphenol
4-Chloro-3-Methylphenol
4-Chloro-M-Cresol (P-Chloro-M-Cresol)
4-Chlorocatechol
4-Chloroguaiacol
4-Chlorophenol
4-Chlorophenyl Phenyl Ether
4-Chlorotoluene
4-Nitrophenol
4:2 Fluorotelomer Sulfonic Acid (4:2 Fts)
5,9-Dimethylchrysene
5/6-Methylchrysene
6:2 Fluorotelomer Sulfonic Acid (6:2 Fts)
7,12-Dimethylbenzo(A)Anthracene
7-Methylbenzo(A)Pyrene
8:2 Fluorotelomer Sulfonic Acid (8:2 Fts)
9,10-Dichlorostearic Acid
9/4-Methylphenanthrene
Abietic Acid
Acenaphthene
Acenaphthylene
Acenaphthylene-D8 (Surrogate)
Acesulfame
Acetaminophen
Acetone
Acetylsalicylic Acid
Acridine
Acrolein
Acrylonitrile
Aeromonas
Alachlor
Aldicarb
Aldicarb Sulfone
Aldicarb Sulfoxide
Aldrin
Algae Cover
Algal Count Bacillariophyta
Algal Count Chlorophyta
Algal Count Cyanophyta
Algal Count Total
Alkalinity Phenolphthalein Caco3
Alkalinity Total Caco3
Alkalinity Total Hco3
Alpha-Benzenehexachloride (Bhc)
Alpha-Chlordane
Alpha-Endosulfan
Aluminum Dissolved
Aluminum Extractable
Aluminum Total
Aluminum Total Recoverable
Aluminum_27 Dissolved - Al
Aluminum_27 Extractable - Al
Aluminum_27 Total Recoverable - Al
Aminocarb
Aminomethyl Phosphonic Acid
Aminopyralid
Ammonia (Nh3)
Ammonia Dissolved
Ammonia Total
Amoxicillin
Anthracene
Antimony Dissolved
Antimony Extractable
Antimony Total
Antimony Total Recoverable
Antimony_121 Dissolved - Sb
Antimony_121 Extractable - Sb
Antimony_121 Total Recoverable - Sb
Arachidic Acid
Arsenic Dissolved
Arsenic Extractable
Arsenic Total
Arsenic Total Recoverable
Arsenic_75 Dissolved - As
Arsenic_75 Extractable - As
Arsenic_75 Total Recoverable - As
Aspartame
Aspon
Atrazine
Atrazine Desethyl
Atrazine Desisopropyl
Azinphos Methyl (Guthion)
Azoxystrobin
B(A)P Total Potency Equivalent
Barium Dissolved
Barium Extractable
Barium Total
Barium Total Recoverable
Barium_137 Dissolved - Ba
Barium_137 Extractable - Ba
Barium_137 Total Recoverable - Ba
Benomyl
Bentazon
Benzene
Benzidine
Benzo(A)Anthracene
Benzo(A)Anthracene-D12 (Surrogate)
Benzo(A)Anthracene/Chrysene
Benzo(A)Pyrene
Benzo(A)Pyrene-D12 (Surrogate)
Benzo(B)Fluoranthene
Benzo(B)Fluoranthene-D12 (Surrogate)
Benzo(B,J)Fluoranthene
Benzo(B,J,K)Fluoranthene
Benzo(B,K)Fluoranthene
Benzo(C)Phenanthrene
Benzo(E)Pyrene
Benzo(G,H,I)Perylene
Benzo(G,H,I)Perylene-D12 (Surrogate)
Benzo(J,K)Fluoranthenes
Benzo(K)Fluoranthene
Benzo(K)Fluoranthene-D12 (Surrogate)
Benzoylecgonine
Benzoylmethylecgonine
Beryllium Dissolved
Beryllium Extractable
Beryllium Total
Beryllium Total Recoverable
Beryllium_9 Dissolved - Be
Beryllium_9 Extractable - Be
Beryllium_9 Total Recoverable - Be
Beta-Benzenehexachloride (Bhc)
Beta-Endosulfan
Beta-Estradiol
Bezafibrate
Bicarbonate (Calcd.)
Bicarbonate Lab (Calcd.)
Biomass, Macrophyte
Biphenyl
Biphenyl-D10 (Surrogate)
Bis(2-Chloroethoxy) Methane
Bis(2-Chloroethyl) Ether
Bis(2-Chloroisopropyl) Ether
Bis(2-Ethylhexyl) Phthalate
Bismuth Dissolved
Bismuth Extractable
Bismuth Total
Bismuth Total Recoverable
Bismuth_209 Dissolved - Bi
Bismuth_209 Extractable - Bi
Bismuth_209 Total Recoverable - Bi
Bisphenol A
Boron Dissolved
Boron Extractable
Boron Total
Boron Total Recoverable
Boron_10 Total Recoverable - B
Boron_11 Dissolved - B
Boron_11 Extractable - B
Boron_11 Total Recoverable - B
Bromacil
Bromine Dissolved
Bromine Total
Bromobenzene
Bromochloromethane
Bromodichloromethane
Bromoform
Bromomethane
Bromoxynil
Btex + Styrene Total
Btex Total
Butylbenzyl Phthalate
C1-Benzo(A)Anthracene/Chrysene
C1-Benzofluoranthenes/Benzopyrenes
C1-Chrysene
C1-Dibenzothiophene
C1-Fluoranthene/Pyrene
C1-Fluorene
C1-Naphthalene
C1-Phenanthrene/Anthracene
C2-Benzo(A)Anthracene/Chrysene
C2-Benzofluoranthenes/Benzopyrenes
C2-Chrysene
C2-Dibenzothiophene
C2-Fluoranthene/Pyrene
C2-Fluorene
C2-Naphthalene
C2-Phenanthrene/Anthracene
C3-Benzo(A)Anthracenes/Chrysenes
C3-Chrysene
C3-Dibenzothiophene
C3-Fluoranthene/Pyrene
C3-Fluorene
C3-Naphthalene
C3-Phenanthrene/Anthracene
C4-Benzo(A)Anthracenes/Chrysenes
C4-Chrysene
C4-Dibenzothiophene
C4-Fluoranthene/Pyrene
C4-Fluorene
C4-Naphthalene
C4-Phenanthrene/Anthracene
Cadmium Dissolved
Cadmium Extractable
Cadmium Total
Cadmium Total Recoverable
Cadmium_114 Dissolved - Cd
Cadmium_114 Extractable - Cd
Cadmium_114 Total Recoverable - Cd
Caffeine
Calcium Dissolved
Calcium Dissolved/Filtered
Calcium Extractable
Calcium Extractable/Unfiltered
Calcium Total
Calcium Total Recoverable
Calcium_43 Dissolved - Ca
Calcium_43 Extractable - Ca
Calcium_43 Total Recoverable - Ca
Captan
Carbamate (Eptc)
Carbamazepine
Carbaryl
Carbazole
Carbofuran
Carbon Dissolved Inorganic (Dic)
Carbon Dissolved Organic
Carbon Disulfide
Carbon Fixation Epilithon
Carbon Fixation Phytoplankton
Carbon Particulate Organic
Carbon Particulate Total
Carbon Tetrachloride
Carbon Total
Carbon Total Inorganic
Carbon Total Organic (Toc)
Carbonaceous Oxygen Demand Bod10
Carbonaceous Oxygen Demand Bod5
Carbonate (Calcd.)
Carbonate Dissolved
Carbophenothion
Carboxin (Carbathiin)
Cashmeran
Celestolide
Cerium Dissolved
Cerium Total Recoverable
Cesium Dissolved
Cesium Total Recoverable
Chemical Oxygen Demand
Chloramphenicol
Chlorate
Chloride Dissolved
Chlorine Dissolved
Chlorine Total Recoverable
Chlorine_35 Dissolved - Cl
Chlorine_35 Extractable - Cl
Chlorine_35 Total Recoverable - Cl
Chlorobenzene
Chloroethane
Chloroform
Chloromethane
Chlorophyll A
Chlorophyll A Epilithon
Chlorophyll A Phytoplankton
Chlorothalonil
Chlorpyrifos Ethyl
Chlorthal Dimethyl (Dacthal)
Chromium Dissolved
Chromium Extractable
Chromium Hexavalent
Chromium Hexavalent Dissolved
Chromium Total (Cr)
Chromium Total Recoverable
Chromium_52 Dissolved - Cr
Chromium_52 Total Recoverable - Cr
Chromium_53 Dissolved - Cr
Chromium_53 Extractable - Cr
Chromium_53 Total Recoverable - Cr
Chrysene
Chrysene-D12 (Surrogate)
Ciprofloxacin
Clindamycin
Clodinafop Acid Metabolite
Clodinafop Propargyl
Clofibric Acid
Clopyralid (Lontrel)
Clostridium Perfingens
Clothianidin
Cloud Cover
Cobalt Dissolved
Cobalt Extractable
Cobalt Total
Cobalt Total Recoverable
Cobalt_59 Dissolved - Co
Cobalt_59 Extractable - Co
Cobalt_59 Total Recoverable - Co
Codeine
Coliforms Fecal
Warning: There are still multiple units: no/100 ml, cfu/100 ml
Coliforms Total
Warning: There are still multiple units: no/100 ml, mpn/100 ml
Colour Apparent
Colour True
Colour True Transmit
Copper Dissolved
Copper Extractable
Copper Total (Cu)
Copper Total Recoverable
Copper_63 Dissolved - Cu
Copper_63 Total Recoverable - Cu
Copper_65 Dissolved - Cu
Copper_65 Extractable - Cu
Copper_65 Total Recoverable - Cu
Cotinine
Cresols Total
Crufomate
Cryptosporidium Oocysts
Cyanazine
Cyanide
Cyanide Total
Cyclamate
Def
Dehydroabietic Acid
Deltamethrin
Demeton
Depth Of Sampling From Surface
Di-N-Butyl Phthalate
Di-N-Octyl Phthalate
Diallate
Diazinon
Dibenzo(A,H)Anthracene
Dibenzo(A,H)Anthracene-D14 (Surrogate)
Dibenzo(A,H)Pyrene
Dibenzo(A,I)Pyrene
Dibenzo(A,L)Pyrene
Dibenzothiophene
Dibenzothiophene-D8 (Surrogate)
Dibromochloromethane
Dibromomethane
Dicamba (Banvel)
Dichlorobromomethane
Dichlorodifluoromethane
Dichloromethane
Dichlorvos
Diclofenac
Diclofop Methyl (Hoegrass)
Dicofol
Dieldrin
Diethyl Phthalate
Difenoconazole
Dimethoate (Cygon)
Dimethyl Biphenyl
Dimethyl Naphthalenes
Dimethyl Phthalate
Dinitramine
Dinoseb
Discharge Daily Mean
Warning: There are still multiple units: cfs, m3/s
Discharge Instantaneous
Warning: There are still multiple units: m3/s, cfs
Dissolved Methyl Mercury
Disulfoton (Di-Syston)
Diuron
Dysprosium Dissolved
Dysprosium Total Recoverable
Endrin
Enrofloxacin
Enterococcus
Erbium Dissolved
Erbium Total Recoverable
Erythromycin
Escherichia Coli
Warning: There are still multiple units: no/100 ml, cfu/100 ml, mpn/100 ml
Estriol
Estrone
Ethalfluralin (Edge)
Ethanol
Ethion
Ethodrophos
Ethofumesate
Ethyl Methacrylate
Ethylbenzene
Europium Dissolved
Europium Total Recoverable
F1 (C6-C10)
F1, Hydrocarbons (C6-C10)-Btex
F1-Btex
F2, Hydrocarbons (C10-C16)
F3, Hydrocarbons (C16-C34)
F4, Hydrocarbons (C34-C50)
F53B Major
F53B Minor
Fecal Streptococci
Fenchlorphos (Ronnel)
Fenitrothion
Fenoprofen
Fenoprop (Silvex) (2,4,5-Tp)
Fenoxaprop-P-Ethyl
Fensulfothion
Fenthion
Filtered Algal Growth Potential
Fluazifop
Fluoranthene
Fluoranthene-D10 (Surrogate)
Fluorene
Fluorescent Dissolved Organic Matter-Fdom (Field)
Warning: There are still multiple units: ppb qsu, rfu
Fluoride Dissolved
Fluoxetine
Fluroxypyr
Fonofos
Formaldehyde Total
Free Co2 (Calcd.)
Gadolinium Dissolved
Gadolinium Total Recoverable
Galaxolide
Gallium Dissolved
Gallium Total Recoverable
Gamma-Benzenehexachloride (Bhc) (Lindane)
Gamma-Chlordane
Gemfibrozil
Germanium Dissolved
Germanium Total Recoverable
Giardia Cysts
Glufosinate
Glyphosate (Roundup)
Gold Dissolved
Gold Total Recoverable
Hardness Non-Carbonated (Calcd.)
Hardness Total Caco3
Hardness Total Caco3 (Calcd.)
Heptachlor
Heptachlor Epoxide
Heptadecanoic Acid (Surrogate)
Hexachlorobenzene
Hexachlorobutadiene
Hexachlorocyclopentadiene
Hexachloroethane
Hexaconazole
Holmium Dissolved
Holmium Total Recoverable
Hydrocarbons Extractable (Teh), C10-C50
Hydrocarbons Extractable (Teh), C16-C50
Hydrocarbons Extractable (Teh), C8 And Up
Hydrocarbons, C10-C16, F2
Hydrocarbons, C16-C34, F3
Hydrocarbons, C34-C50, F4
Hydrogen Sulphide H2S
Hydrogen-2 (Deuterium) In Water
Hydroxide (Calcd.)
Ibuprofen
Ice Cover
Ice Thickness, Estimate
Imazamethabenz Methyl
Imazamox
Imazethapyr
Imidacloprid
Indeno(1,2,3-C,D)Pyrene
Indeno(1,2,3-C,D)Pyrene-D12 (Surrogate)
Indium Dissolved
Indium Total Recoverable
Indomethacin
Iodomethane
Ionic Balance
Ionic Balance (Calcd.)
Ionic Balance Difference Absolute Value (Calcd.)
Iprodione
Iron (Fe) Extractable
Iron Dissolved
Iron Total (Fe)
Iron Total Recoverable
Iron_57 Dissolved - Fe
Iron_57 Extractable - Fe
Iron_57 Total Recoverable - Fe
Isophorone
Isopimaric Acid
Isopropylbenzene
Ketoprofen
Lambda-Cyhalothrin
Lanthanum Dissolved
Lanthanum Total Recoverable
Latitude
Lead Dissolved
Lead Extractable
Lead Total
Lead Total Recoverable
Lead_208 Extractable - Pb
Levopimaric Acid
Lincomycin
Linoleic Acid
Linolenic Acid
Linuron
Lithium Dissolved
Lithium Extractable
Lithium Total
Lithium Total Recoverable
Lithium_7 Dissolved - Li
Lithium_7 Extractable - Li
Lithium_7 Total Recoverable - Li
Longitude
M And P-Cresol
M,P-Xylene
M-Xylene
Macrophyte Cover
Magnesium Dissolved
Magnesium Dissolved/Filtered
Magnesium Extractable
Magnesium Extractable/Unfiltered
Magnesium Total
Magnesium Total Recoverable
Magnesium_25 Extractable - Mg
Magnesium_25 Total Recoverable - Mg
Malathion
Manganese Dissolved
Manganese Extractable
Manganese Total (Mn)
Manganese Total Recoverable
Manganese_55 Dissolved - Mn
Manganese_55 Extractable - Mn
Manganese_55 Total Recoverable - Mn
Mcpa
Mcpb
Mcpp (Mecoprop)
Meclofenamic Acid
Mercury Dissolved
Mercury Extractable
Mercury Total
Mercury Total Recoverable
Mercury_202 Total Recoverable
Metalaxyl-M
Metconazole
Methamphetamine
Methomyl
Methoxychlor (P,P'-Methoxychlor)
Methyl Acenaphthene
Methyl Anthracenes
Methyl Biphenyl
Methyl Ethyl Ketone
Methyl Isobutyl Ketone
Methyl Mercury
Methyl Methacrylate
Methyl Naphthalenes
Methyl Triclosan
Methylene Chloride (Dichloromethane)
Metolachlor
Metribuzin
Mevinphos
Mirex
Molybdenum Dissolved
Molybdenum Extractable
Molybdenum Total
Molybdenum Total Recoverable
Molybdenum_98 Dissolved - Mo
Molybdenum_98 Extractable - Mo
Molybdenum_98 Total Recoverable - Mo
Monuron
Mtbe (Methyl Tertiary Butyl Ether)
Musk Ambrette
Musk Ketone
Musk Moskene
Musk Tibetene
Musk Xylene
Myristic Acid
N,N-Diethyl-M-Toluamide (Deet)
N-Butylbenzene
N-Ethyl Perfluorooctane Sulfonamidoacetic Acid
N-Methyl Perfluorooctane Sulfonamidoacetic Acid
N-Nitroso-Di-N-Propylamine
N-Nitrosodimethylamine
N-Nitrosodiphenylamine
N-Propylbenzene
Naphthalene
Naphthalene-D8 (Surrogate)
Naphthenic Acid C10H16O2 (Z =-4; Dbe =3)
Naphthenic Acid C10H18O2 (Z = -2; Dbe=2)
Naphthenic Acid C10H20O2 (Z = 0; Dbe=1)
Naphthenic Acid C11H14O2 (Z =-8; Dbe =5)
Naphthenic Acid C11H16O2 (Z=-6, Dbe =4)
Naphthenic Acid C11H18O2 (Z =-4; Dbe =3)
Naphthenic Acid C11H20O2 (Z = -2; Dbe=2)
Naphthenic Acid C11H22O2 (Z = 0; Dbe=1)
Naphthenic Acid C12H16O2 (Z = -8; Dbe=5)
Naphthenic Acid C12H18O2 (Z = -6; Dbe = 4)
Naphthenic Acid C12H20O2 (Z = -4; Dbe = 3)
Naphthenic Acid C12H22O2 (Z = -2; Dbe = 2)
Naphthenic Acid C12H24O2 (Z = 0; Dbe = 1)
Naphthenic Acid C13H16O2 (Z = -10; Dbe=6)
Naphthenic Acid C13H18O2 (Z = -8; Dbe=5)
Naphthenic Acid C13H20O2 (Z = -6; Dbe = 4)
Naphthenic Acid C13H22O2 (Z = -4; Dbe = 3)
Naphthenic Acid C13H24O2 (Z = -2; Dbe = 2)
Naphthenic Acid C13H26O2 (Z = 0; Dbe = 1)
Naphthenic Acid C14H16O2 (Z = -12; Dbe=7)
Naphthenic Acid C14H18O2 (Z = -10; Dbe=6)
Naphthenic Acid C14H20O2 (Z = -8; Dbe = 5)
Naphthenic Acid C14H22O2 (Z = -6; Dbe = 4)
Naphthenic Acid C14H24O2 (Z = -4; Dbe = 3)
Naphthenic Acid C14H26O2 (Z = -2; Dbe = 2)
Naphthenic Acid C14H28O2 (Z = 0; Dbe = 1)
Naphthenic Acid C15H14O2 (Z = -16; Dbe=9)
Naphthenic Acid C15H16O2 (Z = -14; Dbe=8)
Naphthenic Acid C15H18O2 (Z = -12; Dbe = 7)
Naphthenic Acid C15H20O2 (Z = -10; Dbe = 6)
Naphthenic Acid C15H22O2 (Z = -8; Dbe = 5)
Naphthenic Acid C15H24O2 (Z = -6; Dbe = 4)
Naphthenic Acid C15H26O2 (Z = -4; Dbe = 3)
Naphthenic Acid C15H28O2 (Z = -2; Dbe = 2)
Naphthenic Acid C15H30O2 (Z = 0; Dbe = 1)
Naphthenic Acid C16H14O2 (Z = -18; Dbe=10)
Naphthenic Acid C16H16O2 (Z = -16; Dbe=9)
Naphthenic Acid C16H18O2 (Z = -14; Dbe=8)
Naphthenic Acid C16H20O2 (Z = -12; Dbe = 7)
Naphthenic Acid C16H22O2 (Z = -10; Dbe = 6)
Naphthenic Acid C16H24O2 (Z = -8; Dbe = 5)
Naphthenic Acid C16H26O2 (Z = -6; Dbe = 4)
Naphthenic Acid C16H28O2 (Z = -4; Dbe = 3)
Naphthenic Acid C16H30O2 (Z = -2; Dbe = 2)
Naphthenic Acid C16H32O2 (Z = 0; Dbe = 1)
Naphthenic Acid C17H18O2 (Z = -16; Dbe=9)
Naphthenic Acid C17H20O2 (Z = -14; Dbe=8)
Naphthenic Acid C17H22O2 (Z = -12; Dbe = 7)
Naphthenic Acid C17H24O2 (Z = -10; Dbe = 6)
Naphthenic Acid C17H26O2 (Z = -8; Dbe = 5)
Naphthenic Acid C17H28O2 (Z = -6; Dbe = 4)
Naphthenic Acid C17H30O2 (Z = -4; Dbe = 3)
Naphthenic Acid C17H32O2 (Z = -2; Dbe = 2)
Naphthenic Acid C17H34O2 (Z = 0; Dbe = 1)
Naphthenic Acid C18H20O2 (Z = -16; Dbe=9)
Naphthenic Acid C18H22O2 (Z = -14; Dbe=8)
Naphthenic Acid C18H24O2 (Z = -12; Dbe = 7)
Naphthenic Acid C18H26O2 (Z = -10; Dbe = 6)
Naphthenic Acid C18H28O2 (Z = -8; Dbe = 5)
Naphthenic Acid C18H30O2 (Z = -6; Dbe = 4)
Naphthenic Acid C18H32O2 (Z = -4; Dbe = 3)
Naphthenic Acid C18H34O2 (Z = -2; Dbe = 2)
Naphthenic Acid C18H36O2 (Z = 0; Dbe = 1)
Naphthenic Acid C19H20O2 (Z = -18; Dbe=10)
Naphthenic Acid C19H22O2 (Z = -16; Dbe=9)
Naphthenic Acid C19H24O2 (Z = -14; Dbe=8)
Naphthenic Acid C19H26O2 (Z = -12; Dbe = 7)
Naphthenic Acid C19H28O2 (Z = -10; Dbe = 6)
Naphthenic Acid C19H30O2 (Z = -8; Dbe = 5)
Naphthenic Acid C19H32O2 (Z = -6; Dbe = 4)
Naphthenic Acid C19H34O2 (Z = -4; Dbe = 3)
Naphthenic Acid C19H36O2 (Z = -2; Dbe = 2)
Naphthenic Acid C19H38O2 (Z = 0; Dbe = 1)
Naphthenic Acid C20H22O2 (Z = -18; Dbe=10)
Naphthenic Acid C20H24O2 (Z = -16; Dbe=9)
Naphthenic Acid C20H26O2 (Z = -14; Dbe=8)
Naphthenic Acid C20H28O2 (Z = -12; Dbe = 7)
Naphthenic Acid C20H30O2 (Z = -10; Dbe = 6)
Naphthenic Acid C20H32O2 (Z = -8; Dbe = 5)
Naphthenic Acid C20H34O2 (Z = -6; Dbe = 4)
Naphthenic Acid C20H36O2 (Z = -4; Dbe = 3)
Naphthenic Acid C20H38O2 (Z = -2; Dbe = 2)
Naphthenic Acid C20H40O2 (Z = 0; Dbe=1)
Naphthenic Acid C21H24O2 (Z = -18; Dbe=10)
Naphthenic Acid C21H26O2 (Z = -16; Dbe=9)
Naphthenic Acid C21H28O2 (Z = -14; Dbe=8)
Naphthenic Acid C21H30O2 (Z = -12; Dbe = 7)
Naphthenic Acid C21H32O2 (Z = -10; Dbe = 6)
Naphthenic Acid C21H34O2 (Z = -8; Dbe = 5)
Naphthenic Acid C21H36O2 (Z = -6; Dbe = 4)
Naphthenic Acid C21H38O2 (Z = -4; Dbe = 3)
Naphthenic Acid C21H40O2 (Z = -2; Dbe = 2)
Naphthenic Acid C21H42O2 (Z = 0; Dbe=1)
Naphthenic Acid C22H32O2 (Z = -12; Dbe=7)
Naphthenic Acid C22H34O2 (Z = -10; Dbe=6)
Naphthenic Acid C22H36O2 (Z = -8; Dbe=5)
Naphthenic Acid C22H38O2 (Z = -6; Dbe=4)
Naphthenic Acid C22H40O2 (Z = -4; Dbe=3)
Naphthenic Acid C22H42O2 (Z = -2; Dbe=2)
Naphthenic Acid C22H44O2 (Z = 0; Dbe=1)
Naphthenic Acid C23H32O2 (Z = -14; Dbe=8)
Naphthenic Acid C23H34O2 (Z = -12; Dbe=7)
Naphthenic Acid C23H36O2 (Z = -10; Dbe=6)
Naphthenic Acid C23H38O2 (Z = -8; Dbe=5)
Naphthenic Acid C23H40O2 (Z = -6; Dbe=4)
Naphthenic Acid C23H42O2 (Z = -4; Dbe=3)
Naphthenic Acid C23H44O2 (Z = -2; Dbe=2)
Naphthenic Acid C23H46O2 (Z = 0; Dbe=1)
Naphthenic Acid C24H36O2 (Z = -12; Dbe=7)
Naphthenic Acid C24H38O2 (Z = -10; Dbe=6)
Naphthenic Acid C24H40O2 (Z = -8; Dbe=5)
Naphthenic Acid C24H42O2 (Z = -6; Dbe=4)
Naphthenic Acid C24H44O2 (Z = -4; Dbe=3)
Naphthenic Acid C24H46O2 (Z = -2; Dbe=2)
Naphthenic Acid C24H48O2 (Z = 0; Dbe=1)
Naphthenic Acid C25H38O2 (Z = -12; Dbe=7)
Naphthenic Acid C25H40O2 (Z = -10; Dbe=6)
Naphthenic Acid C25H42O2 (Z = -8; Dbe=5)
Naphthenic Acid C25H44O2 (Z = -6; Dbe=4)
Naphthenic Acid C25H46O2 (Z = -4; Dbe=3)
Naphthenic Acid C25H48O2 (Z = -2; Dbe=2)
Naphthenic Acid C25H50O2 (Z = 0; Dbe=1)
Naphthenic Acid C5H10O2 (Z = 0; Dbe=1)
Naphthenic Acid C6H12O2 (Z = 0; Dbe=1)
Naphthenic Acid C7H12O2 (Z = -2; Dbe=2)
Naphthenic Acid C7H14O2 (Z = 0; Dbe=1)
Naphthenic Acid C8H14O2 (Z = -2; Dbe=2)
Naphthenic Acid C8H16O2 (Z = 0; Dbe=1)
Naphthenic Acid C9H14O2 (Z = -4; Dbe=3)
Naphthenic Acid C9H16O2 (Z = -2; Dbe=2)
Naphthenic Acid C9H18O2 (Z = 0; Dbe=1)
Naphthenic Acids
Napropamide
Naproxen
Neoabietic Acid
Neodymium Dissolved
Neodymium Total Recoverable
Neotame
Net Solar Radiation (Rf4)
Nickel Dissolved
Nickel Extractable
Nickel Total
Nickel Total Recoverable

In [8]:
# Check those variables with more than one unit
unit_counts = data.groupby('VariableName')['UnitCode'].nunique().reset_index()
pars_with_multiple_units = unit_counts.loc[unit_counts['UnitCode'] > 1, 'VariableName'].tolist()

for i in pars_with_multiple_units:
    print(i)
    print(data[data['VariableName'] == i].groupby('UnitCode')['UnitCode'].count())
    print('-----------------------------------------')

2,3,6-Trichlorophenol (Surrogate)
UnitCode
%       53
ug/l    46
Name: UnitCode, dtype: int64
-----------------------------------------
Coliforms Fecal
UnitCode
cfu/100 ml      134
no/100 ml     21085
Name: UnitCode, dtype: int64
-----------------------------------------
Coliforms Total
UnitCode
mpn/100 ml       3
no/100 ml     3061
Name: UnitCode, dtype: int64
-----------------------------------------
Discharge Daily Mean
UnitCode
cfs     212
m3/s     49
Name: UnitCode, dtype: int64
-----------------------------------------
Discharge Instantaneous
UnitCode
cfs      31
m3/s    219
Name: UnitCode, dtype: int64
-----------------------------------------
Escherichia Coli
UnitCode
cfu/100 ml      405
mpn/100 ml        3
no/100 ml     18098
Name: UnitCode, dtype: int64
-----------------------------------------
Fluorescent Dissolved Organic Matter-Fdom (Field)
UnitCode
ppb qsu    209
rfu        209
Name: UnitCode, dtype: int64
-----------------------------------------
Sampling Distance From Left Bank
UnitCode
%    13881
m      277
Name: UnitCode, dtype: int64
-----------------------------------------

## 1.4 Handing censored data and adding date stamps

In [9]:
# Add censored column
data['Censored'] = data.apply(
    lambda row: True if row['MeasurementFlag'] == 'L'
    else False if (row['MeasurementFlag'] != 'L' and pd.isna(row['SampleDetectLimit']))
    else row['MeasurementValue'] < row['SampleDetectLimit'], 
    axis=1
)

# Extract year, day, month column from SamepleDateTime:
data['Year'] = data['SampleDateTime'].dt.year
data['Month'] = data['SampleDateTime'].dt.month
data['Day'] = data['SampleDateTime'].dt.day

# Add month names and make them categorical
data['MonthCategory'] = data['SampleDateTime'].dt.month_name()
data['MonthCategory'] = pd.Categorical(data['MonthCategory'],
                                                categories=['January', 'February', 'March', 'April', 'May', 'June',
                                                            'July', 'August', 'September', 'October', 'November', 'December'],
                                                ordered=True)

# Add month short names and make them categorical
data['MonthCategoryShort'] = data['SampleDateTime'].dt.strftime("%b")
data['MonthCategoryShort'] = pd.Categorical(data['MonthCategoryShort'],
                                                categories=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                                                            'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                                                ordered=True)

## 1.5 EDA

In [ ]:
data_backup = data

In [11]:
data = data_backup.copy()
data.describe()

,LatitudeDecimalDegrees,LongitudeDecimalDegrees,SampleDateTime,MeasurementValue,SampleDetectLimit,MethodDetectionLimit,Year,Month,Day
count,2.209871e+06,2.209871e+06,2209871,2.209871e+06,1676151.0,1.897307e+06,2.209871e+06,2.209871e+06,2.209871e+06
mean,5.252154e+01,-1.136532e+02,2012-09-21 09:48:36.623111680,3.953181e+02,11.246677,1.337832e+01,2.012236e+03,6.401583e+00,1.478128e+01
min,4.902673e+01,-1.188047e+02,1959-02-20 14:00:00,-2.130000e+02,0.0,0.000000e+00,1.959000e+03,1.000000e+00,1.000000e+00
25%,5.035310e+01,-1.144871e+02,2007-02-20 14:30:00,3.910000e-02,0.005,6.000000e-03,2.007000e+03,4.000000e+00,9.000000e+00
50%,5.208902e+01,-1.134421e+02,2016-02-08 14:15:00,8.410000e-01,0.05,5.000000e-02,2.016000e+03,7.000000e+00,1.500000e+01
75%,5.420120e+01,-1.124759e+02,2020-07-21 10:05:00,1.367000e+01,0.3,8.000000e-01,2.020000e+03,9.000000e+00,2.000000e+01
max,5.844722e+01,-1.100297e+02,2024-12-12 14:45:00,1.330000e+06,80000.0,1.000000e+04,2.024000e+03,1.200000e+01,3.100000e+01
std,2.512963e+00,1.996642e+00,NaN,6.866319e+03,149.601908,1.668303e+02,1.028575e+01,3.088282e+00,7.027856e+00

## 1.6 Join with site IDs for upstream to downstream plottins

In [12]:
siteIDs = pd.read_csv('../data/site_IDs.csv')
data = data.merge(siteIDs, how='left', on='StationNumber')
data = data.sort_values(by=["Basin", "PLOT_CODE2"])

In [13]:
data['StationNumber'] = pd.Categorical(data['StationNumber'], ordered=True, categories=data['StationNumber'].unique())
data['SITE_ID'] = pd.Categorical(data['SITE_ID'], ordered=True, categories=data['SITE_ID'].unique())
data['PLOT_CODE'] = pd.Categorical(data['PLOT_CODE'], ordered=True, categories=data['PLOT_CODE'].unique())
data['Station'] = pd.Categorical(data['Station'], ordered=True, categories=data['Station'].unique())

# check values to make sure the order is correct:
print(list(data['SITE_ID'].cat.categories))

['SAR', 'MTR', 'AR1', 'AR2', 'BER', 'SAK', 'MCL', 'AR3', 'PBR', 'LSR', 'AR4', 'AR5', 'AR6', 'AR7', 'AR8', 'BTR1', 'BTR2', 'BVR1', 'BVR2', 'BVR3', 'GR', 'WSC', 'JPC', 'BR1', 'ER', 'NC', 'FC', 'PC', 'SR1', 'SR2', 'HR1', 'HR2', 'BR2', 'WAC', 'EAC', 'BR3', 'CFC', 'CC', 'NWC', 'TMC', 'BR4', 'NMR', 'MLK1', 'MLK2', 'RC', 'VC', 'MSC', 'MLK3', 'NSR1', 'SFR', 'CLNR', 'BGHR', 'NSR2', 'RMR', 'NSR3', 'CLWR2', 'CLWR1', 'NSR4', 'BPTR', 'NR', 'BRZR', 'RSC', 'MDC', 'TC', 'STRW', 'WDC', 'CNJC', 'NSR5', 'WMC', 'STUR', 'RDWR', 'NSR6', 'AC', 'VR', 'OMR1', 'PC1', 'PC2', 'BRC', 'WK', 'WNR', 'BYR1', 'BYR2', 'SMR', 'OMR2', 'MQC', 'LBR1', 'LBR2', 'LBR3', 'LBR4', 'OMR3', 'EC', 'WR1', 'WR2', 'SYR', 'PR1', 'PR2', 'PR3', 'FTC', 'RDR1', 'BBC', 'JR', 'RR', 'LRDR', 'MR', 'RDR2', 'WOC', 'BMR', 'RDR3', 'RDR4', 'THC1', 'THC2', 'KC1', 'KC2', 'MC1', 'MC2', 'RBR1', 'RBR2', 'MTC', 'BRYC', 'RDR5', 'SSR-1', 'SPC', 'RK', 'SSR-2']

# Appendix - Sandbox

## A.1 Practicing grouping

In [ ]:
df = data.groupby(['Station', 'VariableName'], observed=True).agg({
    'MeasurementValue': ['mean', 'std', 'count'],
    'SampleDateTime': ['min', 'max'],
    'Censored': ['sum']
}).unstack(['Station', 'VariableName']).reset_index()

df.head()

                                                                                    MeasurementValue  \
                                                                                                mean
Station                                            VariableName
Sunwapta River, At Wsc Gauge 0.1 Km D/S Of Sunw... Alkalinity Phenolphthalein Caco3         0.857143
                                                   Alkalinity Total Caco3                  67.000000
                                                   Aluminum Dissolved                       6.470571
                                                   Aluminum Total Recoverable             999.762857
                                                   Ammonia Total                            0.024000

                                                                                                  \
                                                                                             std
Station                                            VariableName
Sunwapta River, At Wsc Gauge 0.1 Km D/S Of Sunw... Alkalinity Phenolphthalein Caco3     0.229175
                                                   Alkalinity Total Caco3              19.064905
                                                   Aluminum Dissolved                   3.845316
                                                   Aluminum Total Recoverable        1505.076885
                                                   Ammonia Total                        0.016666

                                                                                           \
                                                                                    count
Station                                            VariableName
Sunwapta River, At Wsc Gauge 0.1 Km D/S Of Sunw... Alkalinity Phenolphthalein Caco3    35
                                                   Alkalinity Total Caco3              35
                                                   Aluminum Dissolved                  35
                                                   Aluminum Total Recoverable          35
                                                   Ammonia Total                       35

                                                                                         SampleDateTime  \
                                                                                                    min
Station                                            VariableName
Sunwapta River, At Wsc Gauge 0.1 Km D/S Of Sunw... Alkalinity Phenolphthalein Caco3 2016-05-11 08:45:00
                                                   Alkalinity Total Caco3           2016-05-11 08:45:00
                                                   Aluminum Dissolved               2016-05-11 08:45:00
                                                   Aluminum Total Recoverable       2016-05-11 08:45:00
                                                   Ammonia Total                    2016-05-11 08:45:00

                                                                                                         \
                                                                                                    max
Station                                            VariableName
Sunwapta River, At Wsc Gauge 0.1 Km D/S Of Sunw... Alkalinity Phenolphthalein Caco3 2024-09-11 12:20:00
                                                   Alkalinity Total Caco3           2024-09-11 12:20:00
                                                   Aluminum Dissolved               2024-09-11 12:20:00
                                                   Aluminum Total Recoverable       2024-09-11 12:20:00
                                                   Ammonia Total                    2024-09-11 12:20:00

                                                                                    Censored
                                                                                         sum
Station                                            VariableName
Sunwapta River, At Wsc Gauge 0.1 Km D/S Of Sunw... Alkalinity Phenolphthalein Caco3       35
                                                   Alkalinity Total Caco3                  0
                                                   Aluminum Dissolved                      0
                                                   Aluminum Total Recoverable              0
                                                   Ammonia Total                          30

## A.2 Filtering

Find out which mainstem stations have selenium total more than its PAL guideline (2 ug/l)

In [15]:
selenium_exceedances = data[
    (data['VariableName'] == 'Selenium Total Recoverable') & 
    (data['MeasurementValue'] > 2) &
    (~ data['Censored']) &
    (data['SITE_TYPE2'] == 'MS') 
]

# Double check the unit
selenium_exceedances['UnitCode'].unique()
selenium_exceedances

,ProjectNumber,SampleNumber,ContinentalRiverBasinCode,RiverBasinCode,RiverSubBasinCode,StationTypeCode,StationNumber,Station,LatitudeDecimalDegrees,LongitudeDecimalDegrees,...,Year,Month,Day,MonthCategory,MonthCategoryShort,SITE_TYPE2,Basin,SITE_ID,PLOT_CODE,PLOT_CODE2
1741470,ABSB34,11SWE00201,SAS,BAT,05FA,0,AB05FA0060,"Battle River, Approx 2 Km D/S Hwy 53",52.65881,-113.67508,...,2011,1,18,January,Jan,MS,Battle River,BTR1,N4,4
1741635,ABSB34,09SWE00024,SAS,BAT,05FA,0,AB05FA0340,"Battle River, At North End Of Driedmeat Lake",52.93736,-112.84861,...,2009,1,15,January,Jan,MS,Battle River,BTR2,N6,6
1741639,ABSB34,10SWE00035,SAS,BAT,05FA,0,AB05FA0340,"Battle River, At North End Of Driedmeat Lake",52.93736,-112.84861,...,2010,1,20,January,Jan,MS,Battle River,BTR2,N6,6
1745831,ABSM34,17SWL10204,MIS,MIL,11AA,0,AB11AA0070,"Milk River, At Hwy 880",49.14541,-111.30734,...,2017,2,13,February,Feb,MS,Milk River,MLK3,M7,7
1748247,ABSP34,17SWG00020,MAC,PEA,07FD,0,AB07FD0135,"Peace River, U/S Smoky River Near Shaftesbury ...",56.09319,-117.56608,...,2017,5,15,May,May,MS,Peace River,PR1,P4,4
1748282,ABSP34,20SWG00016,MAC,PEA,07FD,0,AB07FD0135,"Peace River, U/S Smoky River Near Shaftesbury ...",56.09319,-117.56608,...,2020,6,16,June,Jun,MS,Peace River,PR1,P4,4
1748003,ABSP34,04SWE01259,MAC,PEA,07HF,0,AB07HF0010,"Peace River, At Fort Vermilion - Centre",58.40444,-116.12806,...,2004,7,15,July,Jul,MS,Peace River,PR3,P6,6
1749274,ABSR34,23SWE11846,SAS,RED,05CD,0,AB05CD0375,"Red Deer River, At Morrin Bridge - Transect",51.65056,-112.90306,...,2023,6,19,June,Jun,MS,Red Deer River,RDR4,R12,12
1749737,ABSR34,20SWC80604,SAS,RED,05CJ,0,AB05CJ0070,"Red Deer River, D/S Dinosaur Prov Park At Hwy ...",50.83861,-111.17667,...,2020,6,25,June,Jun,MS,Red Deer River,RDR5,R23,23
1750899,ABSS34,22SWC20606,SAS,SSA,05AJ,0,AB05AJ0060,"South Saskatchewan River, Above Medicine Hat",50.04292,-110.72608,...,2022,6,16,June,Jun,MS,South Saskatchewan River,SSR-1,O17,17

Now find how many samples in each region exceeded the PAL guideline:/

In [16]:
# group selenium_exceedances by Region and paste unique values of Station for each Region
selenium_exceedances.groupby(['Basin'])['SampleNumber'].nunique().reset_index()

                      Basin  SampleNumber
0              Battle River             3
1                Milk River             1
2               Peace River             3
3            Red Deer River             2
4  South Saskatchewan River             1

## A.3 Transforming

Examine merucry data and create sum of ranks for each station based on each basin.

In [17]:
mercury_data = data[
    (data['VariableName'] == "Mercury Total") &
    (~ data['Censored']) 
    ].copy()

# checking the unit
mercury_data['UnitCode'].unique()

array(['ng/l'], dtype=object)

In [18]:
mercury_data['rank'] = mercury_data.groupby('Basin')['MeasurementValue'].transform('rank', method='dense', ascending=False)
mercury_data['rank_mean'] = mercury_data.groupby(['Basin', 'Station'], observed=True)['rank'].transform('mean')
mercury_data[['Station', 'rank_mean']].drop_duplicates().sort_values(by='rank_mean', ascending=True)

                                                   Station   rank_mean
1221258       Battle River, At North End Of Driedmeat Lake   91.530864
1229973                     Michichi Creek, Near The Mouth  100.481481
1221285  Beaver River, At Highway 892 Bridge North Of A...  106.923077
1235834                        Verdigris Creek, At Hwy 501  108.000000
1226242  Beaver River, At Gravel Pit, 6 Km U/S Of Ab-Sk...  108.778846
...                                                    ...         ...
1226825                            Berry Creek, Near Mouth  682.792208
1229766                         Matzhiwin Creek, At Hwy 36  688.714286
1221713              Red Deer River, 1 Km U/S Hwy 2 Bridge  690.052326
1233776                          Red Deer River, At Sundre  731.562044
1221679                              Raven River, At Raven  733.586207

[124 rows x 2 columns]

The output from chunk above shows a risk indicator (the lower, the higher risk) for each region.

## A.4 Pivot, Stack, Unstack

This will be beneficial for calculating guidelines that are modified by toxicity factors. An example is total ammonia where its guideline value depends on pH and

In [64]:
data_pivot = data[
    (data['VariableName'].isin(["Ph (Field)", "Temperature Water"])) &
    (~ data['Censored'])][['SampleNumber', 'VariableName', 'MeasurementValue']].reset_index(drop=True).copy()

# Group by and summarize to avoid duplicate sample measurements:
data_pivot = data_pivot.groupby(['SampleNumber', 'VariableName'], as_index=True, observed=True).agg({'MeasurementValue': 'mean'}).\
    reset_index(names = ['SampleNumber', 'VariableName', 'MeasurementValue'])

# Now pivot the data
data_pivot = data_pivot.pivot(index='SampleNumber', columns='VariableName', values='MeasurementValue')#.reset_index()

# Filter pH and temperature based on Alberta guidelines table (2018 document):
data_pivot = data_pivot[
    (data_pivot['Ph (Field)'] >= 6) & 
    (data_pivot['Ph (Field)'] <= 10) & 
    (data_pivot['Temperature Water'] >= 0) & 
    (data_pivot['Temperature Water'] <= 30)                    
                        ]

# Add the guideline column now! use this formula: 0.019/(1/(10**(0.0901821 + 2729.92/(Temperature Water + 273.15) - pH Field) + 1))*0.8224
data_pivot["Guideline_AmmoniaT_PAL"] = 0.019 / (
    1 / (10 ** (0.0901821 + 2729.92 / (data_pivot["Temperature Water"] + 273.15) - data_pivot["Ph (Field)"]) + 1)
    ) * 0.8224
data_pivot

VariableName  Ph (Field)  Temperature Water  Guideline_AmmoniaT_PAL
SampleNumber
03SWE00753          8.72               8.90                0.190558
03SWE01033          8.16              13.69                0.453391
03SWE01309          8.15              13.13                0.483208
03SWE01533          8.01               9.26                0.887657
03SWE02079          7.99               9.06                0.943272
...                  ...                ...                     ...
99SWL10610          8.50              13.32                0.221467
99SWL10710          8.41              15.71                0.226822
99SWL10810          8.50              21.60                0.126756
99SWL10910          8.42              12.93                0.270616
99SWL11010          8.14               7.02                0.787981

[18616 rows x 3 columns]

In [63]:
data_pivot.index

Index([    0,     1,     2,     3,     4,     7,    10,    11,    12,    13,
       ...
       23157, 23158, 23159, 23161, 23162, 23163, 23164, 23165, 23166, 23167],
      dtype='int64', length=18619)

Alternatively, use pivot_table. I've added station number just to practice stacking.

In [65]:
data_pivot_table = data[
    (data['VariableName'].isin(["Ph (Field)", "Temperature Water"])) &
    (~ data['Censored'])][['StationNumber', 'SampleNumber', 'VariableName', 'MeasurementValue']].copy()

# Now use pivot table instead. I know using stack here is redundant. But it's still practice.
data_pivot_table = data_pivot_table.pivot_table(columns=['StationNumber', 'VariableName'], 
                                                values='MeasurementValue', 
                                                index='SampleNumber', 
                                                observed=True, 
                                                aggfunc="mean")

# Stack
data_pivot_table = data_pivot_table.stack(level=['StationNumber'])

# Now stack the data. Looks like the way the table is shown is been renewed. 
data_pivot_table.head()

/var/folders/_g/mxhqq21x7359p_ly0jzzd66m0000gn/T/ipykernel_9021/727170408.py:13: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  data_pivot_table = data_pivot_table.stack(level=['StationNumber'])

VariableName                Ph (Field)  Temperature Water
SampleNumber StationNumber
03SWE00753   AB07AD0100           8.72               8.90
03SWE01033   AB07AD0100           8.16              13.69
03SWE01309   AB07AD0100           8.15              13.13
03SWE01533   AB07AD0100           8.01               9.26
03SWE02079   AB07AD0100           7.99               9.06

Now unstack:

In [66]:
data_pivot_table_unstack = data_pivot_table.unstack(level=['StationNumber'])
data_pivot_table_unstack.head()

VariableName  Ph (Field)                                              \
StationNumber AB07AA0005 AB07AA0007 AB07AD0100 AB07AD0110 AB07AC0015
SampleNumber
03SWE00753           NaN        NaN       8.72        NaN        NaN
03SWE01033           NaN        NaN       8.16        NaN        NaN
03SWE01309           NaN        NaN       8.15        NaN        NaN
03SWE01533           NaN        NaN       8.01        NaN        NaN
03SWE02079           NaN        NaN       7.99        NaN        NaN

VariableName                                                          ...  \
StationNumber AB07AH0005 AB07AG0345 AB07BD0010 AB07BC0025 AB07BK0125  ...
SampleNumber                                                          ...
03SWE00753           NaN        NaN        NaN        NaN        NaN  ...
03SWE01033           NaN        NaN        NaN        NaN        NaN  ...
03SWE01309           NaN        NaN        NaN        NaN        NaN  ...
03SWE01533           NaN        NaN        NaN        NaN        NaN  ...
03SWE02079           NaN        NaN        NaN        NaN        NaN  ...

VariableName  Temperature Water                                              \
StationNumber        AB05CE0700 AB05CE0090 AB05CE0100 AB05CJ0030 AB05CH0120
SampleNumber
03SWE00753                  NaN        NaN        NaN        NaN        NaN
03SWE01033                  NaN        NaN        NaN        NaN        NaN
03SWE01309                  NaN        NaN        NaN        NaN        NaN
03SWE01533                  NaN        NaN        NaN        NaN        NaN
03SWE02079                  NaN        NaN        NaN        NaN        NaN

VariableName
StationNumber AB05CJ0070 AB05AJ0060 AB05AH0050 AB05AH0020 AB05AK0990
SampleNumber
03SWE00753           NaN        NaN        NaN        NaN        NaN
03SWE01033           NaN        NaN        NaN        NaN        NaN
03SWE01309           NaN        NaN        NaN        NaN        NaN
03SWE01533           NaN        NaN        NaN        NaN        NaN
03SWE02079           NaN        NaN        NaN        NaN        NaN

[5 rows x 248 columns]

## A.4.1 Melt

In [73]:
data_pivot.reset_index().melt(id_vars="SampleNumber", var_name="VariableName", value_name="MeasurementValue")

      SampleNumber            VariableName  MeasurementValue
0       03SWE00753              Ph (Field)          8.720000
1       03SWE01033              Ph (Field)          8.160000
2       03SWE01309              Ph (Field)          8.150000
3       03SWE01533              Ph (Field)          8.010000
4       03SWE02079              Ph (Field)          7.990000
...            ...                     ...               ...
55843   99SWL10610  Guideline_AmmoniaT_PAL          0.221467
55844   99SWL10710  Guideline_AmmoniaT_PAL          0.226822
55845   99SWL10810  Guideline_AmmoniaT_PAL          0.126756
55846   99SWL10910  Guideline_AmmoniaT_PAL          0.270616
55847   99SWL11010  Guideline_AmmoniaT_PAL          0.787981

[55848 rows x 3 columns]

cross-tab:

In [78]:
unique_stations = data[['Basin', 'SITE_TYPE2', 'StationNumber']].drop_duplicates()
pd.crosstab(unique_stations['Basin'], unique_stations['SITE_TYPE2'])

SITE_TYPE2                MS  TRIB
Basin
Athabasca River            8     7
Battle River               2     0
Beaver River               3     0
Bow River                  4    17
Milk River                 3     4
North Saskatchewan River   5    21
Oldman River               3    14
Peace River                3     3
Red Deer River             5    18
South Saskatchewan River   2     2

qcut:

In [81]:
pd.qcut(mercury_data['MeasurementValue'], q = 4)

1235574      (0.69, 1.23]
1235575      (1.23, 2.72]
1235576      (0.69, 1.23]
1235577     (0.059, 0.69]
1235578      (1.23, 2.72]
                ...
1235338      (0.69, 1.23]
1235339    (2.72, 7500.0]
1235340      (1.23, 2.72]
1235341      (0.69, 1.23]
1235342      (0.69, 1.23]
Name: MeasurementValue, Length: 12041, dtype: category
Categories (4, interval[float64, right]): [(0.059, 0.69] < (0.69, 1.23] < (1.23, 2.72] < (2.72, 7500.0]]